@tailwind base;
@tailwind components;
@tailwind utilities;
.disableSelect{
    user-select: none;
}
html,body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    background-color: #2C3639;
    scrollbar-width: thin;
    scrollbar-color: #404040 #ffffff;
}

body::-webkit-scrollbar {
    width: 4px;
    padding-left: 2px;
    transition-duration: 0.2s;
}

body::-webkit-scrollbar-track {
    background: #2C3639;
}

body::-webkit-scrollbar-thumb {
    background-color: #FFC23C;
    border-radius: 30px;
}


#searchInput:focus  #searchBox{
    border: 2px solid #FFC23C;
}


#middle,#detailOverview {
    scrollbar-width: thin;
    scrollbar-color: #404040 #ffffff;
}

#middle::-webkit-scrollbar,#detailOverview::-webkit-scrollbar {
    width: 4px;
    padding-left: 2px;
    transition-duration: 0.2s;
}

#middle::-webkit-scrollbar-track,#detailOverview::-webkit-scrollbar-track {
    background: #2C3639;
}

#middle::-webkit-scrollbar-thumb ,#detailOverview::-webkit-scrollbar-thumb {
    background-color: #FFC23C;
    border-radius: 30px;
}

#reviewScroll {
    scrollbar-width: thin;
    scrollbar-color: #404040 #ffffff;
}

#reviewScroll::-webkit-scrollbar {
    width: 2px;
    padding-left: 2px;
    transition-duration: 0.2s;
}

#reviewScroll::-webkit-scrollbar-track {
    background: #2C3639;
}

#reviewScroll::-webkit-scrollbar-thumb {
    background-color: #FFC23C;
    border-radius: 30px;
}
#reviewScroll {
    scrollbar-width: thin;
    scrollbar-color: #404040 #ffffff;
}

.scroll::-webkit-scrollbar {
    width: 2px;
    padding-left: 2px;
    transition-duration: 0.2s;
}

.scroll::-webkit-scrollbar-track {
    background: #2C3639;
}

.scroll::-webkit-scrollbar-thumb {
    background-color: #FFC23C;
    border-radius: 30px;
}
.infinite-scroll-component{
    overflow-x: hidden !important;
}
.infinite-scroll-component__outerdiv{
    overflow-x: hidden !important;
}


.h-rb{
    height: 70%;
}
.h-review{
    height: 560px;
}
.w-twentyfive{
    width: 25%;

}
.similarBtm{
    bottom: -580px;
}
.text-small{
    font-size: 11px;
}
.fill{
    fill: #FFC23C;
}
.poster{
    width: 256px;
    height: 384px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.yt_player_iframe{
    width: 500px;
    height: 300px;
}

@media (max-width: 1500px){
    .yt_player_iframe{
        width: 320px;
        height: 200px;
    }

}

@media (max-width: 1280px){

    .yt_player_iframe{
        margin-top:50px;
        padding: 0px 50px;
        width:100%;
        height: 500px;
    }
}
@media (max-width: 800px){

    .yt_player_iframe{

        margin-top:30px;
        height: 400px;
    }
}
@media (max-width: 700px){

    .yt_player_iframe{
        margin-top:20px;
        height: 320px;
    }
}
@media (max-width: 600px){

    .yt_player_iframe{
        margin-top:10px;
        height: 190px;
    }
}


@media (max-width: 1280px) {
    .poster{
        width: 216px;
        height: 344px;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    }


}
@media (max-width: 768px) {
    .poster{
        display: none;
    }

}


.shadowType1{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.shadowType2{
    box-shadow: rgba(0, 0, 0, 0.75) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.shadowType3{
    box-shadow: rgba(0, 0, 0, 0.95) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.shadowType4{
    box-shadow: rgba(0, 0, 0, 0.75) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

#resultImg {
    opacity: 1;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

#middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

#resultBox:hover #resultImg {
    opacity: 0.4;
}

#resultBox:hover #middle {
    opacity: 1;
}
#resultBox:hover #title {
    opacity: 1;
}

#posterImg {
    opacity: 1;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}
#middlePoster {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}
#detailPoster:hover #middlePoster {
    opacity: 1;
}
#detailPoster:hover #posterImg {
     opacity: 0.6;
 }
.filter-switch label {
    cursor: pointer;
}
.filter-switch-item input:checked + label {
    color: inherit;
}
.filter-switch-item input:not(:checked) + label {
    --bg-opacity: 0;
    box-shadow: none;
}

#editIcon {
    transition: .5s ease;
    opacity: 0;
}
#profileImgBox:hover #editIcon{
    opacity: 1;
}
#profileImgBox:hover #profileImg {
    opacity: 0.6;
}

@keyframes boxright {
    from {
        right:0px;
    }
    to {
        right:-35px
    }
}
@keyframes boxleft {
    from {
        left:0px;
    }
    to {
        left:-35px
    }
}

.boxRight{
    animation-name: boxright;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.boxLeft{
    animation-name: boxleft;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}


.card3d {
    margin: 4px;
    transform: scale(1);
    perspective: 600px;
}

.card3d:hover {
    z-index: 10;
    transform: scale(1);
}

.card3d,
.card3d img {
    transition: all 250ms ease-out;
}