@tailwind base;
@tailwind components;
@tailwind utilities;
.disableSelect{
    user-select: none;
}
html,body {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    background-color: #2C3639;
    scrollbar-width: thin;
    scrollbar-color: #404040 #ffffff;
}

body::-webkit-scrollbar {
    width: 4px;
    padding-left: 2px;
    transition-duration: 0.2s;
}

body::-webkit-scrollbar-track {
    background: #2C3639;
}

body::-webkit-scrollbar-thumb {
    background-color: #FFC23C;
    border-radius: 30px;
}


#searchInput:focus  #searchBox{
    border: 2px solid #FFC23C;
}


#middle {
    scrollbar-width: thin;
    scrollbar-color: #404040 #ffffff;
}

#middle::-webkit-scrollbar {
    width: 4px;
    padding-left: 2px;
    transition-duration: 0.2s;
}

#middle::-webkit-scrollbar-track {
    background: #2C3639;
}

#middle::-webkit-scrollbar-thumb {
    background-color: #FFC23C;
    border-radius: 30px;
}
.h-rb{
    height: 75%;
}
.w-sb{
    width: 95%;
}
w-thirty{
    width: 30%;

}
.poster{
    width: 256px;
    height: 384px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.shadowType1{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.shadowType2{
    box-shadow: rgba(0, 0, 0, 0.75) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

#resultImg {
    opacity: 1;
    width: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

#middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

#resultBox:hover #resultImg {
    opacity: 0.4;
}

#resultBox:hover #middle {
    opacity: 1;
}
#resultBox:hover #title {
    opacity: 1;
}


.filter-switch label {
    cursor: pointer;
}
.filter-switch-item input:checked + label {
    color: inherit;
}
.filter-switch-item input:not(:checked) + label {
    --bg-opacity: 0;
    box-shadow: none;
}


@keyframes boxright {
    from {
        right:0px;
    }
    to {
        right:-35px
    }
}
@keyframes boxleft {
    from {
        left:0px;
    }
    to {
        left:-35px
    }
}

.boxRight{
    animation-name: boxright;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}
.boxLeft{
    animation-name: boxleft;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}